/* Theme */

main {
    background: #000000; /* Black background */
    color: #FFFFFF;     /* White text color */
}

.icons-social a {
    color: #FFFFFF;     /* White text color for social icons links */
}

.icons-social a svg path {
    fill: #FFFFFF;      /* White fill color for SVG paths in social icons */
}
